In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./labeled_gofundme.csv', index_col = 0)
df.head()

,web-scraper-order,web-scraper-start-url,link click,link click-href,goal,update,title,intial-po,current,fundraiser,image-src,image_labels
0,1633276155-426127,https://www.gofundme.com/discover/emergency-fu...,"Palmer, AK\n \n\n ...",https://www.gofundme.com/f/d4u2r-marleys-recovery,"raised of $5,000 goal",NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,"$7,620 raised of $5,000 goal",Kristina Webb is organizing this fundraiser.,https://d2g8igdw686xgo.cloudfront.net/60273215...,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',..."
1,1633275013-425660,https://www.gofundme.com/discover/emergency-fu...,"Belfair, WA\n \n\n ...",https://www.gofundme.com/f/help-myan-get-epidu...,"raised of $215,000 goal",NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,"$900 raised of $215,000 goal",Christopoher Clark is organizing this fundraiser.,NaN,[]
2,1633274311-425404,https://www.gofundme.com/discover/emergency-fu...,"Electra, FL\n \n\n ...",https://www.gofundme.com/f/help-lex-after-home...,"raised of $7,500 goal",NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,"$5,595 raised of $7,500 goal",Vickie Stroud Jackson is organizing this fund...,https://d2g8igdw686xgo.cloudfront.net/60096725...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin..."
3,1633276078-426095,https://www.gofundme.com/discover/emergency-fu...,"Livermore, CA\n \n\n ...",https://www.gofundme.com/f/emergency-financial...,"raised of $200,000 goal",NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,"$170,761 raised of $200,000 goal",Giulianna Zetterlund is organizing this fundra...,NaN,[]
4,1633275530-425873,https://www.gofundme.com/discover/emergency-fu...,"Santee, CA\n \n\n ...",https://www.gofundme.com/f/360-community-manag...,"raised of $5,000 goal",NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,"$5,585 raised of $5,000 goal",Rachael Robenolt is organizing this fundraiser.,NaN,[]

In [4]:
df.drop(['web-scraper-order', 'web-scraper-start-url', 'link click', 'link click-href'], axis=1, inplace=True)
df.head()

,goal,update,title,intial-po,current,fundraiser,image-src,image_labels
0,"raised of $5,000 goal",NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,"$7,620 raised of $5,000 goal",Kristina Webb is organizing this fundraiser.,https://d2g8igdw686xgo.cloudfront.net/60273215...,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',..."
1,"raised of $215,000 goal",NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,"$900 raised of $215,000 goal",Christopoher Clark is organizing this fundraiser.,NaN,[]
2,"raised of $7,500 goal",NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,"$5,595 raised of $7,500 goal",Vickie Stroud Jackson is organizing this fund...,https://d2g8igdw686xgo.cloudfront.net/60096725...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin..."
3,"raised of $200,000 goal",NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,"$170,761 raised of $200,000 goal",Giulianna Zetterlund is organizing this fundra...,NaN,[]
4,"raised of $5,000 goal",NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,"$5,585 raised of $5,000 goal",Rachael Robenolt is organizing this fundraiser.,NaN,[]

In [29]:
def currentSplit(x):
    line = x.split('raised of')
    return line[0].strip().strip('$').replace(',', '')

df['current_raised'] = df['current'].apply(currentSplit)
df.head()

KeyError: 'current'

In [20]:
def goalSplit(x):
    line = x.split('raised of')
    new_line = line[1].split(' ')
    return new_line[1].strip('$').replace(',', '')

df['goal_fund'] = df['current'].apply(goalSplit)
df.head()

,goal,update,title,intial-po,current,fundraiser,image-src,image_labels,current_raised,goal_fund
0,"raised of $5,000 goal",NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,"$7,620 raised of $5,000 goal",Kristina Webb is organizing this fundraiser.,https://d2g8igdw686xgo.cloudfront.net/60273215...,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...","7,620",5000
1,"raised of $215,000 goal",NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,"$900 raised of $215,000 goal",Christopoher Clark is organizing this fundraiser.,NaN,[],900,215000
2,"raised of $7,500 goal",NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,"$5,595 raised of $7,500 goal",Vickie Stroud Jackson is organizing this fund...,https://d2g8igdw686xgo.cloudfront.net/60096725...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...","5,595",7500
3,"raised of $200,000 goal",NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,"$170,761 raised of $200,000 goal",Giulianna Zetterlund is organizing this fundra...,NaN,[],"170,761",200000
4,"raised of $5,000 goal",NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,"$5,585 raised of $5,000 goal",Rachael Robenolt is organizing this fundraiser.,NaN,[],"5,585",5000

In [21]:
df.drop('goal', axis=1, inplace=True)
df.head()

,update,title,intial-po,current,fundraiser,image-src,image_labels,current_raised,goal_fund
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,"$7,620 raised of $5,000 goal",Kristina Webb is organizing this fundraiser.,https://d2g8igdw686xgo.cloudfront.net/60273215...,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...","7,620",5000
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,"$900 raised of $215,000 goal",Christopoher Clark is organizing this fundraiser.,NaN,[],900,215000
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,"$5,595 raised of $7,500 goal",Vickie Stroud Jackson is organizing this fund...,https://d2g8igdw686xgo.cloudfront.net/60096725...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...","5,595",7500
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,"$170,761 raised of $200,000 goal",Giulianna Zetterlund is organizing this fundra...,NaN,[],"170,761",200000
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,"$5,585 raised of $5,000 goal",Rachael Robenolt is organizing this fundraiser.,NaN,[],"5,585",5000

In [22]:
df.drop(['current', 'image-src'], axis = 1, inplace=True)
df.head()

,update,title,intial-po,fundraiser,image_labels,current_raised,goal_fund
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,Kristina Webb is organizing this fundraiser.,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...","7,620",5000
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,Christopoher Clark is organizing this fundraiser.,[],900,215000
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,Vickie Stroud Jackson is organizing this fund...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...","5,595",7500
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,Giulianna Zetterlund is organizing this fundra...,[],"170,761",200000
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,Rachael Robenolt is organizing this fundraiser.,[],"5,585",5000

In [26]:
df.rename(columns = {'intial-po' : 'post'}, inplace=True)
df.head()

,update,title,post,fundraiser,image_labels,current_raised,goal_fund
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,Kristina Webb is organizing this fundraiser.,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...","7,620",5000
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,Christopoher Clark is organizing this fundraiser.,[],900,215000
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,Vickie Stroud Jackson is organizing this fund...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...","5,595",7500
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,Giulianna Zetterlund is organizing this fundra...,[],"170,761",200000
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,Rachael Robenolt is organizing this fundraiser.,[],"5,585",5000

In [28]:
def isSelf(x):
    import re
    if re.findall('behalf of', x):
        return 0
    else:
        return 1

df['Self-raised'] = df['fundraiser'].apply(isSelf)
df.head()

,update,title,post,fundraiser,image_labels,current_raised,goal_fund,Self-raised
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,Kristina Webb is organizing this fundraiser.,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...","7,620",5000,1
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,Christopoher Clark is organizing this fundraiser.,[],900,215000,1
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,Vickie Stroud Jackson is organizing this fund...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...","5,595",7500,1
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,Giulianna Zetterlund is organizing this fundra...,[],"170,761",200000,0
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,Rachael Robenolt is organizing this fundraiser.,[],"5,585",5000,1

In [31]:
df['current_raised'] = df['current_raised'].apply(lambda x: x.replace(',', ''))
df.head()

,update,title,post,fundraiser,image_labels,current_raised,goal_fund,Self-raised
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,Kristina Webb is organizing this fundraiser.,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...",7620,5000,1
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,Christopoher Clark is organizing this fundraiser.,[],900,215000,1
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,Vickie Stroud Jackson is organizing this fund...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...",5595,7500,1
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,Giulianna Zetterlund is organizing this fundra...,[],170761,200000,0
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,Rachael Robenolt is organizing this fundraiser.,[],5585,5000,1

In [34]:
df['goal_precentage'] = round(df['current_raised'].astype('int') / df['goal_fund'].astype('int'),2)
df.head()

,update,title,post,fundraiser,image_labels,current_raised,goal_fund,Self-raised,goal_precentage
0,NaN,Marley's Recovery,Kristina Webb is organizing this fundraiser.Cr...,Kristina Webb is organizing this fundraiser.,"['Nose', 'Cheek', 'Lip', 'Eyebrow', 'Eyelash',...",7620,5000,1,1.52
1,NaN,Help myan get epidural stimulation surgery,Christopoher Clark is organizing this fundrais...,Christopoher Clark is organizing this fundraiser.,[],900,215000,1,0.00
2,NaN,Help Lex after home destroyed by Arson,Vickie Stroud Jackson is organizing this fund...,Vickie Stroud Jackson is organizing this fund...,"['Gas', 'Event', 'Metal', 'Pollution', 'Cookin...",5595,7500,1,0.75
3,NaN,Emergency Financial Aid to Support Salvatore,Giulianna Zetterlund is organizing this fundra...,Giulianna Zetterlund is organizing this fundra...,[],170761,200000,0,0.85
4,NaN,360 Community Management- Help Eric's children,Rachael Robenolt is organizing this fundraiser...,Rachael Robenolt is organizing this fundraiser.,[],5585,5000,1,1.12

In [35]:
df.to_csv('cleaned_gofundme.csv')